[Desktop Entry]
Version=1.0
Type=Application
Name=XJump
Comment=A jumping game for modern graphical systems
Exec=xjump
Icon=br.com.gualandi.Xjump
Terminal=false
Categories=Game;ArcadeGame;
