[Desktop Entry]
Version=1.0
Type=Application
Name=XJump
Comment=Falling platforms game
Exec=xjump
Icon=io.github.hugomg.xjump-sdl
Terminal=false
Categories=Game;ArcadeGame;ActionGame
Keywords=game;action;platform;
